/* css/style.css */
body {
  background: #ececec
}
#gBoard {
  width: 400px;
  height: 400px;
  display: block;
  margin: 25px auto;
}
#control-panel {
  height: 400px;
  margin-top: 25px;
}
#new-game {
  margin-top: 50px;
  position: relative;
}
#score-board {
  margin-top: 50px;
}
#score-board small {
  font-size: 18px;
}
#score-board strong{
  font-weight: 700;
  font-size: 26px;
}
.center-block-horizontally {
  margin: 0 auto;
}
.center-text-horizontally {
  text-align: center;
}

/* mobile styles */
@media all and (min-width: 360px) and (orientation: portrait) {
  #gBoard {
    width: 300px;
    height: 300px;
  }
}
/* end mobile styles */

/* bootstrap modification */
.navbar {border-radius: 0;}
