/* css/style.css */
#gBoard {
  width: 400px;
  height: 400px;
  display: block;
  margin: 25px auto;
}
#control-panel {
  height: 400px;
  margin-top: 25px;
}
#new-game {
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}
/* bootstrap modification */
.navbar {border-radius: 0;}
